.heart-health-popup, .profile-popup {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 80%; 
    max-width: 500px; 
}



.profile-popup h3 {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.profile-popup form {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.profile-popup label {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.profile-popup input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    width: auto;
}

.profile-popup button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.profile-popup button:hover {
    background-color: #0056b3;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}
.highlighted-submit {
    background-color: #ff9900;
    transform: scale(1.1);
    transition: all 0.3s;
}